# EDA - Transactions

In [1]:
from pathlib import Path
transactions_csv_file = Path().cwd().parent / 'data' / 'transactions.csv'

import pandas as pd
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [2]:
# Create dataframe from csv.
transactions = pd.read_csv(transactions_csv_file)

In [3]:
# Quick look at the data.
transactions.head()

   account_id ticker_symbol  trade_date trade_type  shares  price
0        1.00        STK007  2024-07-25       SELL   88.60 546.75
1        1.00        STK261  2024-09-13        BUY  178.19  80.29
2        1.00        STK345  2024-09-11        BUY   54.42 273.24
3        1.00        STK432  2024-11-12        BUY   78.74 391.80
4        1.00        STK082  2024-07-09        BUY   18.21 397.14

In [4]:
# Display all unique ticker symbols.
print(f'Unique ticker symbols: {transactions['ticker_symbol'].unique()}')

Unique ticker symbols: ['STK007' 'STK261' 'STK345' ... 'STK4Q94' 'STKg14' 'STo330']

In [5]:
# Display all unique values for trade type.
print(f'Unique trade types: {transactions["trade_type"].unique()}')

Unique trade types: ['SELL' 'BUY' 'BUx' 'BU' 'buy' 'BUy' ' SELL ' 'BUYo' 'BUY_' 'BUYd' 'BUYB'
 'BrUY' ' BUY ' 'BUY5' 'BYU' nan 'UBY' 'ESLL' 'SELLi' 'UY' 'SLL' 'buY'
 'fUY' 'BUYp' 'BrY' 'BUYy' 'SELn' 'mUY' 'BY' 'SLEL' 'SELlL' 'SEwL' 'BnY'
 'BUYj' 'BUmY' 'BUm' 'SELLr' 'zUY' 'ELL' 'kSELL' 'SELL_' 'BUaY' 'SELLw'
 'SELLd' 'Buy' 'BUY-' 'BUYq' 'bUy' 'ByY' 'BUYg' ' BUi ' 'BUY1' 'BuY' 'BaY'
 'lBUY' 'SELL-' 'BUYa' 'BUY8' 'BcY' 'sell' 'BUUY' 'SELLz' 'BhY' 'SELt'
 'BiY' 'BUYA' 'SEhL' 'BUY9' 'BUt' 'BUY7' 'SELLB' 'selL' 'bUY' 'seLl' 'SEL'
 'rUY' 'BUa' 'SELPL' 'sElL' 'SEzL' 'JBUY' 'SELx' 'BYUY' 'BUYR' 'SElL'
 'xUY' 'BqUY' 'BUYe' 'BUj' 'BUYc' 'BUlY' 'lUY' 'BUYv' 'mBUY' 'SELLs'
 'sELl' 'BUYX' 'BUdY' 'BUq' 'VBUY' 'SELLl' 'SEdL' 'BUY2' 'PBUY' 'BeY'
 'pUY' 'SELL4' 'lELL' 'BUd' 'BvUY' 'SoLL' 'SxELL' 'BpY' 'SELL8' 'SEnL'
 'BjY' 'BUr' 'wUY' 'aUY' 'iUY' 'BUYE' 'gUY' 'BmUY' 'SNELL' 'oUY' 'SEELL'
 'SjELL' 'BlY' 'SELwL' 'SxLL' 'sEll' 'BLUY' 'SEll' 'kUY' 'BgY' 'BUeY'
 'Sell' 'SpELL' 'SCELL' 'SELl' 'QBUY' 'SETLL' 'BbY' 'BUY6' 'fELL' 'BUYM'
 'BzY' 'oBUY' 'BUY4' 'SELL0' 'SELLY' 'SELLo' 'BqY' 'SELQL' 'BUYk' 'BUw'
 'tUY' 'BjUY' 'BUl' 'BUYt' 'SwLL' 'SiLL' 'qBUY' 'BUY0' 'SELLm' 'vBUY'
 'BdY' 'sUY' 'yUY' 'qUY' 'xSELL' 'PSELL' 'seLL' 'BfY' 'SELLN' 'SELLD'
 'BUtY' 'SELL1' 'cELL' 'BUYJ' 'fBUY' 'BUYx' 'SFELL' 'BUkY' 'BUi' 'SELw'
 'BUz' 'bELL' 'vELL' ' SEL ' 'SELVL' 'SEyLL' 'BUYQ' 'BUxY' 'BGUY' 'SlLL'
 'nUY' 'BUh' 'BUYf' 'SELLq' 'SeLL' 'BZUY' 'SELpL' 'pBUY' 'BUYw' 'SEALL'
 'BUYY' 'SELk' 'SELLc' 'SELL6' 'SELLh' 'BUpY' 'NBUY' 'SnELL' 'SELLx'
 'SELLf' 'BUIY' 'SrELL' 'BBUY' 'BUp' 'BUYG' 'BUYT' 'SELL7' 'gELL' 'SsELL'
 'BxY' 'SELAL' 'SELnL' 'JSELL' 'BhUY' 'xBUY' 'SELLn' 'SELg' 'SEeL' 'SeLl'
 'SELrL' 'BUY3' 'SEwLL' 'RBUY' 'yELL' ' hELL ' 'BUg' 'BUFY' 'oELL' 'nBUY'
 'BUNY' 'SElLL' 'SEILL' 'zBUY' 'BUPY' ' buY ' 'SELL2' 'hBUY' 'SELL9'
 ' BUYm ' 'SkELL' 'BUYn' 'BwY' 'SEqL' 'SELs' 'SzELL' 'SEnLL' 'SgLL' 'BNUY'
 'SfLL' 'SrLL' 'SELRL' 'mELL' 'BRUY' 'BAUY' 'ESELL' 'tELL' 'uUY' 'BSELL'
 'SELLg' 'SmLL' 'ISELL' 'SEPLL' 'mSELL' 'SaLL' 'BUvY' 'BlUY' 'BVUY' 'BUGY'
 'BUYU' 'BoY' 'BmY' 'BUYO' 'SEgL' 'BUo' 'SEiL' 'SELWL' 'BeUY' 'SELL5'
 'SEpL' 'hELL' 'BaUY' 'BPUY' 'wBUY' 'BQUY' 'BsY' 'SELsL' 'BUb' 'SELLu'
 'BUv' 'BtY' ' BYU ' 'BUHY' 'BUYs' 'SELLe' 'BUcY' 'BMUY' 'SEyL' 'BUf'
 'jBUY' 'aBUY' 'BXUY' 'SELLp' 'SELzL' 'BUc' 'bSELL' 'uSELL' ' BY ' 'BUk'
 'BzUY' 'BUYL' 'vUY' 'hUY' 'SEuL' 'SEoLL' 'SEpLL' 'KBUY' 'SsLL' 'BUXY'
 'BpUY' 'SELLG' 'SEkL' 'BUYl' 'BUYb' 'BCUY' 'BULY' 'SEsL' 'SELLF' 'StLL'
 ' buy ' 'vSELL' 'sELL' 'BkY' 'SEhLL' 'BUgY' 'nELL' 'BtUY' 'BUBY' ' sell '
 'SELd' 'GBUY' 'SiELL' 'SvELL' 'kELL' 'BiUY' 'kBUY' 'SELLA' 'FSELL'
 'MSELL' 'BUQY' 'BvY' 'BUYm' 'yBUY' 'BUYS' 'BDUY' 'BUs' 'BUYi' 'BUuY'
 'cBUY' 'SELv' 'BIUY' 'BUYP' 'SEOLL' 'SEZLL' 'SELLQ' 'dELL' 'rELL' 'SELL3'
 'SELLt' 'SELJL' 'SEtL' 'fSELL' 'SELKL' 'cUY' 'BUYr' 'dSELL' 'BUYh' 'SEoL'
 'SqLL' 'BnUY' 'SELLb' 'SAELL' 'SEQLL' 'BSUY' 'SPELL' 'SELkL' 'STELL'
 'BUCY' 'BUfY' 'GSELL' ' SELL- ' 'SUELL' 'SELLP' 'LBUY' 'eUY' 'bBUY'
 'TBUY' 'BUn' 'BUYN' 'SdELL' 'SSELL' 'BUWY' 'BUu' 'ABUY' 'SELLU' 'BsUY'
 'BFUY' 'dBUY' 'uBUY' 'SoELL' 'SELLy' 'SEdLL' 'SELLC' 'SBUY' 'SWELL'
 ' BwUY ' 'iBUY' 'BUYC' 'SELu' 'BUDY' 'BHUY' 'pELL' 'SEXLL' 'HBUY' 'jUY'
 'BUKY' 'SELLj' 'NSELL' 'SELf' 'SEbL' 'BUZY' 'BUAY' 'SeELL' 'SELm' 'BUYz'
 'SEgLL' 'SHELL' 'VSELL' 'SELgL' ' BUy ' 'WBUY' 'eELL' 'SELb' 'DSELL'
 'BOUY' 'SdLL' 'BUzY' 'BUOY' 'SELCL' 'lSELL' 'SEJLL' 'BkUY' 'FBUY' 'SfELL'
 'BUnY' 'BJUY' ' UBY ' 'SELNL' 'BUYu' 'SEuLL' 'BEUY' 'BURY' 'SELvL' 'xELL'
 'SelL' 'uELL' 'SEmL' 'tBUY' 'SMELL' 'ZBUY' 'BUbY' 'SELa' 'BUwY' 'wELL'
 'SELq' 'BUYK' 'eBUY' 'TSELL' 'BUYV' 'SELhL' 'SELy' 'BUYD' 'UBUY' 'SELLZ'
 'BUYI' 'BdUY' 'SELj' 'SERLL' 'cSELL' 'XBUY' 'BgUY' 'SELz' 'BWUY' 'BUEY'
 'SELc' 'BfUY' 'SELh' 'SEGLL' 'IBUY' 'SuLL' 'BUhY' 'nSELL' 'aELL' 'SLELL'
 'ZSELL' 'MBUY' 'SELUL' 'SEaL' ' BfY ' 'SELLK' 'SELLH' 'SELML' 'BUSY'
 'YBUY' 'SELLv' 'WSELL' 'DBUY' 'dUY' 'BUYF' 'BUjY' 'SELe' 'SELi' 'SErLL'
 'SEcL' 'OBUY' 'zELL' 'SELLL' 'ShLL' 'aSELL' ' SLEL ' 'BUMY' 'qELL'
 'SEWLL' 'BUYH' 'ScLL' 'SEULL' 'BUiY' 'SEDLL' 'BKUY' 'BUVY' 'StELL' 'BUrY'
 'BTUY' 'SExL' 'SELoL' 'SnLL' 'BUe' 'SELeL' 'SRELL' 'SEVLL' 'SEtLL'
 'SELEL' 'SELo' 'SELfL' 'BUyY' 'SELTL' 'SELLJ' 'SELIL' 'BbUY' 'sBUY'
 'OSELL' ' seLl ' 'ASELL' 'SELcL' 'SEfL' 'BwUY' 'BUoY' 'SELLW' 'HSELL'
 'SlELL' 'BoUY' 'SpLL' 'BUYZ' 'BuUY' 'SEBLL' 'SaELL' 'wSELL' 'KSELL'
 'SENLL' 'SELLa' 'gSELL' 'BcUY' 'SEeLL' 'SELLI' 'iELL' 'SEMLL' ' BUY_ '
 'SELOL' 'SEKLL' 'SuELL' 'SELxL' 'SELLT' 'SELLV' 'BUqY' 'SEvL' 'jELL'
 'eSELL' 'SELDL' 'SEjLL' 'SELiL' 'SELaL' 'SQELL' 'SELLS' 'SEiLL' 'SbLL'
 'SkLL' 'YSELL' 'SErL' 'ByUY' 'SyLL' 'SELLR' ' BUY- ' 'USELL' 'SEcLL'
 'SDELL' 'SvLL' 'BUTY' 'SyELL' 'SzLL' 'SEFLL' 'BUYW' ' bUy ' 'XSELL'
 'CBUY' 'SELLk' 'SESLL' 'SYELL' ' BU ' 'SwELL' 'SEjL' ' ESLL ' 'ScELL'
 'SjLL' 'SELGL' 'iSELL' 'SELLM' 'SEmLL' 'SELp' ' cSELL ' 'ySELL' 'SEfLL'
 'SELYL' 'pSELL' ' eUY ' 'EBUY' ' ELL ' 'SELyL' 'SExLL' 'SELLX' 'SBELL'
 'SKELL' ' BjUY ' 'rSELL' 'SVELL' ' SELLS ' 'SELbL' 'BxUY' 'SELdL'
 ' SEfL ' 'QSELL' 'SbELL' 'oSELL' 'BUJY' ' BUw ' ' BUYG ' ' ZBUY ' 'gBUY'
 'SELHL' 'SXELL' 'SGELL' 'LSELL' 'SELqL' 'BUsY' 'RSELL' 'SEbLL' 'SELtL'
 'SEkLL' 'CSELL' 'SELFL' 'rBUY' 'SELmL' 'SEvLL' ' SELLG ' 'sSELL' 'SmELL'
 'SELSL' 'SELjL' 'SEqLL' ' UY ' 'SELBL' 'SEaLL' 'SELLO' 'ShELL' ' fSELL '
 'SJELL' 'jSELL' 'tSELL' ' SeLl ' 'SEzLL' 'zSELL' 'SELr' ' uUY ' ' BiY '
 ' SelL ' ' USELL ' 'SELuL' ' BuY ' ' BUY5 ' ' SEdL ' 'SOELL' 'SECLL'
 'SELZL' 'SZELL' 'SIELL' 'SEsLL' 'SEYLL' ' SLL ' ' SELL_ ' ' jUY '
 ' jBUY ' ' BUx ' 'hSELL' 'SELXL' 'SELLE' 'SEHLL' ' BUYx ' ' SEsL '
 'SqELL' ' iUY ' 'SgELL']

In [6]:
# Non-null count and Dtypes for each column.
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4582246 entries, 0 to 4582245
Data columns (total 6 columns):
 #   Column         Dtype
---  ------         -----
 0   account_id     float64
 1   ticker_symbol  object
 2   trade_date     object
 3   trade_type     object
 4   shares         float64
 5   price          float64
dtypes: float64(3), object(3)
memory usage: 209.8+ MB

In [7]:
# Show dataframe stats.
print(f'Shape of transactions dataframe: {transactions.shape}')
transactions.describe(include='all')

Shape of transactions dataframe: (4582246, 6)

        account_id ticker_symbol  trade_date trade_type     shares      price
count   4574630.00       4574557     4574611    4574744 4574656.00 4574749.00
unique         NaN         15543         909        744        NaN        NaN
top            NaN        STK111  2024-11-26        BUY        NaN        NaN
freq           NaN         10825       18354    3170197        NaN        NaN
mean      15972.58           NaN         NaN        NaN     778.62     268.41
std       32846.59           NaN         NaN        NaN    1556.25     165.58
min           1.00           NaN         NaN        NaN  -29718.80   -1026.22
25%        7510.00           NaN         NaN        NaN      93.13     131.16
50%       15020.00           NaN         NaN        NaN     267.85     257.90
75%       22407.00           NaN         NaN        NaN     809.35     382.49
max     1029995.00           NaN         NaN        NaN  184942.45    1078.17

In [8]:
# Remove leading/trailing whitespace from strings & convert to lowercase and recheck counts, unique values and freq.
transactions = transactions.map(lambda x: x.strip().lower() if isinstance(x, str) else x)
transactions.columns = transactions.columns.str.strip().str.lower()
transactions.describe(include='all')

        account_id ticker_symbol  trade_date trade_type     shares      price
count   4574630.00       4574557     4574611    4574744 4574656.00 4574749.00
unique         NaN         12833         618        438        NaN        NaN
top            NaN        stk111  2024-11-26        buy        NaN        NaN
freq           NaN         10887       18445    3189012        NaN        NaN
mean      15972.58           NaN         NaN        NaN     778.62     268.41
std       32846.59           NaN         NaN        NaN    1556.25     165.58
min           1.00           NaN         NaN        NaN  -29718.80   -1026.22
25%        7510.00           NaN         NaN        NaN      93.13     131.16
50%       15020.00           NaN         NaN        NaN     267.85     257.90
75%       22407.00           NaN         NaN        NaN     809.35     382.49
max     1029995.00           NaN         NaN        NaN  184942.45    1078.17

In [9]:
# Check for missing values.
print(f'Missing values in price history:\n{transactions.isna().sum()}')

Missing values in price history:
account_id       7616
ticker_symbol    7689
trade_date       7635
trade_type       7502
shares           7590
price            7497
dtype: int64

## Notes
- date column should be converted to datetime, extracted to dimension date
- fix typos in trade type (should be either buy or sell)
- drop rows where ticker symbols are not in price history
- trade type should be converted to single character (b: buy and s: sell) and dtype('category')
- account_id should be converted to int
- transaction_id should be created after dropping rows