# EDA - Price History

In [1]:
from pathlib import Path
price_history_csv_file = Path().cwd().parent / 'data' / 'price_history.csv'

import pandas as pd
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [2]:
# Create dataframe from csv.
price_history = pd.read_csv(price_history_csv_file)

In [3]:
# Quick look at the data.
price_history.head()

  ticker_symbol        date   open   high    low  close  adj_close   volume
0        STK001  2024-01-02 322.69 327.73 316.67 321.67     321.67   988746
1        STK001  2024-01-03 321.67 321.92 318.29 321.76     321.76  1184254
2        STK001  2024-01-04 321.76 327.13 316.44 321.40     321.40   740813
3        STK001  2024-01-05 321.40 326.17 314.08 320.21     320.21  1042278
4        STK001  2024-01-08 320.21 324.25 314.74 322.14     322.14   860784

In [4]:
# Non-null count and Dtypes for each column.
price_history.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126000 entries, 0 to 125999
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   ticker_symbol  126000 non-null  object
 1   date           126000 non-null  object
 2   open           126000 non-null  float64
 3   high           126000 non-null  float64
 4   low            126000 non-null  float64
 5   close          126000 non-null  float64
 6   adj_close      126000 non-null  float64
 7   volume         126000 non-null  int64
dtypes: float64(5), int64(1), object(2)
memory usage: 7.7+ MB

In [5]:
# Show dataframe stats.
print(f'Shape of price_history dataframe: {price_history.shape}')
price_history.describe(include='all')

Shape of price_history dataframe: (126000, 8)

,ticker_symbol,date,open,high,low,close,adj_close,volume
count,126000,126000,126000.00,126000.00,126000.00,126000.00,126000.00,126000.00
unique,500,252,NaN,NaN,NaN,NaN,NaN,NaN
top,STK001,2024-01-02,NaN,NaN,NaN,NaN,NaN,NaN
freq,252,500,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,270.09,273.77,266.54,270.18,270.18,1001173.85
std,NaN,NaN,163.69,165.99,161.59,163.85,163.85,200422.89
min,NaN,NaN,11.93,11.98,11.70,11.93,11.93,135172.00
25%,NaN,NaN,132.93,134.68,131.21,132.93,132.93,866691.25
50%,NaN,NaN,259.04,262.47,255.65,259.03,259.03,1001124.50
75%,NaN,NaN,383.41,388.50,378.27,383.39,383.39,1136545.25
max,NaN,NaN,1078.17,1095.16,1071.42,1078.17,1078.17,1837776.00

In [6]:
# Remove leading/trailing whitespace from strings & convert to lowercase and recheck counts, unique values and freq.
price_history = price_history.map(lambda x: x.strip().lower() if isinstance(x, str) else x)
price_history.columns = price_history.columns.str.strip().str.lower()
price_history.describe(include='all')

,ticker_symbol,date,open,high,low,close,adj_close,volume
count,126000,126000,126000.00,126000.00,126000.00,126000.00,126000.00,126000.00
unique,500,252,NaN,NaN,NaN,NaN,NaN,NaN
top,stk001,2024-01-02,NaN,NaN,NaN,NaN,NaN,NaN
freq,252,500,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,270.09,273.77,266.54,270.18,270.18,1001173.85
std,NaN,NaN,163.69,165.99,161.59,163.85,163.85,200422.89
min,NaN,NaN,11.93,11.98,11.70,11.93,11.93,135172.00
25%,NaN,NaN,132.93,134.68,131.21,132.93,132.93,866691.25
50%,NaN,NaN,259.04,262.47,255.65,259.03,259.03,1001124.50
75%,NaN,NaN,383.41,388.50,378.27,383.39,383.39,1136545.25
max,NaN,NaN,1078.17,1095.16,1071.42,1078.17,1078.17,1837776.00

In [7]:
# Check for dupes.
print(f'Duplicate values in price history:\n{price_history.apply(lambda x: x.duplicated().sum())}')

Duplicate values in price history:
ticker_symbol    125500
date             125748
open                  0
high                  0
low                   0
close                 0
adj_close             0
volume            10360
dtype: int64

In [8]:
# Check for missing values.
print(f'Missing values in price history:\n{price_history.isna().sum()}')

Missing values in price history:
ticker_symbol    0
date             0
open             0
high             0
low              0
close            0
adj_close        0
volume           0
dtype: int64

In [9]:
# Check ticker symbols.
price_history_tickers = list(price_history['ticker_symbol'].unique())
price_history_tickers

['stk001',
 'stk002',
 'stk003',
 'stk004',
 'stk005',
 'stk006',
 'stk007',
 'stk008',
 'stk009',
 'stk010',
 'stk011',
 'stk012',
 'stk013',
 'stk014',
 'stk015',
 'stk016',
 'stk017',
 'stk018',
 'stk019',
 'stk020',
 'stk021',
 'stk022',
 'stk023',
 'stk024',
 'stk025',
 'stk026',
 'stk027',
 'stk028',
 'stk029',
 'stk030',
 'stk031',
 'stk032',
 'stk033',
 'stk034',
 'stk035',
 'stk036',
 'stk037',
 'stk038',
 'stk039',
 'stk040',
 'stk041',
 'stk042',
 'stk043',
 'stk044',
 'stk045',
 'stk046',
 'stk047',
 'stk048',
 'stk049',
 'stk050',
 'stk051',
 'stk052',
 'stk053',
 'stk054',
 'stk055',
 'stk056',
 'stk057',
 'stk058',
 'stk059',
 'stk060',
 'stk061',
 'stk062',
 'stk063',
 'stk064',
 'stk065',
 'stk066',
 'stk067',
 'stk068',
 'stk069',
 'stk070',
 'stk071',
 'stk072',
 'stk073',
 'stk074',
 'stk075',
 'stk076',
 'stk077',
 'stk078',
 'stk079',
 'stk080',
 'stk081',
 'stk082',
 'stk083',
 'stk084',
 'stk085',
 'stk086',
 'stk087',
 'stk088',
 'stk089',
 'stk090',
 'stk091',
 'stk092',
 'stk093',
 'stk094',
 'stk095',
 'stk096',
 'stk097',
 'stk098',
 'stk099',
 'stk100',
 'stk101',
 'stk102',
 'stk103',
 'stk104',
 'stk105',
 'stk106',
 'stk107',
 'stk108',
 'stk109',
 'stk110',
 'stk111',
 'stk112',
 'stk113',
 'stk114',
 'stk115',
 'stk116',
 'stk117',
 'stk118',
 'stk119',
 'stk120',
 'stk121',
 'stk122',
 'stk123',
 'stk124',
 'stk125',
 'stk126',
 'stk127',
 'stk128',
 'stk129',
 'stk130',
 'stk131',
 'stk132',
 'stk133',
 'stk134',
 'stk135',
 'stk136',
 'stk137',
 'stk138',
 'stk139',
 'stk140',
 'stk141',
 'stk142',
 'stk143',
 'stk144',
 'stk145',
 'stk146',
 'stk147',
 'stk148',
 'stk149',
 'stk150',
 'stk151',
 'stk152',
 'stk153',
 'stk154',
 'stk155',
 'stk156',
 'stk157',
 'stk158',
 'stk159',
 'stk160',
 'stk161',
 'stk162',
 'stk163',
 'stk164',
 'stk165',
 'stk166',
 'stk167',
 'stk168',
 'stk169',
 'stk170',
 'stk171',
 'stk172',
 'stk173',
 'stk174',
 'stk175',
 'stk176',
 'stk177',
 'stk178',
 'stk179',
 'stk180',
 'stk181',
 'stk182',
 'stk183',
 'stk184',
 'stk185',
 'stk186',
 'stk187',
 'stk188',
 'stk189',
 'stk190',
 'stk191',
 'stk192',
 'stk193',
 'stk194',
 'stk195',
 'stk196',
 'stk197',
 'stk198',
 'stk199',
 'stk200',
 'stk201',
 'stk202',
 'stk203',
 'stk204',
 'stk205',
 'stk206',
 'stk207',
 'stk208',
 'stk209',
 'stk210',
 'stk211',
 'stk212',
 'stk213',
 'stk214',
 'stk215',
 'stk216',
 'stk217',
 'stk218',
 'stk219',
 'stk220',
 'stk221',
 'stk222',
 'stk223',
 'stk224',
 'stk225',
 'stk226',
 'stk227',
 'stk228',
 'stk229',
 'stk230',
 'stk231',
 'stk232',
 'stk233',
 'stk234',
 'stk235',
 'stk236',
 'stk237',
 'stk238',
 'stk239',
 'stk240',
 'stk241',
 'stk242',
 'stk243',
 'stk244',
 'stk245',
 'stk246',
 'stk247',
 'stk248',
 'stk249',
 'stk250',
 'stk251',
 'stk252',
 'stk253',
 'stk254',
 'stk255',
 'stk256',
 'stk257',
 'stk258',
 'stk259',
 'stk260',
 'stk261',
 'stk262',
 'stk263',
 'stk264',
 'stk265',
 'stk266',
 'stk267',
 'stk268',
 'stk269',
 'stk270',
 'stk271',
 'stk272',
 'stk273',
 'stk274',
 'stk275',
 'stk276',
 'stk277',
 'stk278',
 'stk279',
 'stk280',
 'stk281',
 'stk282',
 'stk283',
 'stk284',
 'stk285',
 'stk286',
 'stk287',
 'stk288',
 'stk289',
 'stk290',
 'stk291',
 'stk292',
 'stk293',
 'stk294',
 'stk295',
 'stk296',
 'stk297',
 'stk298',
 'stk299',
 'stk300',
 'stk301',
 'stk302',
 'stk303',
 'stk304',
 'stk305',
 'stk306',
 'stk307',
 'stk308',
 'stk309',
 'stk310',
 'stk311',
 'stk312',
 'stk313',
 'stk314',
 'stk315',
 'stk316',
 'stk317',
 'stk318',
 'stk319',
 'stk320',
 'stk321',
 'stk322',
 'stk323',
 'stk324',
 'stk325',
 'stk326',
 'stk327',
 'stk328',
 'stk329',
 'stk330',
 'stk331',
 'stk332',
 'stk333',
 'stk334',
 'stk335',
 'stk336',
 'stk337',
 'stk338',
 'stk339',
 'stk340',
 'stk341',
 'stk342',
 'stk343',
 'stk344',
 'stk345',
 'stk346',
 'stk347',
 'stk348',
 'stk349',
 'stk350',
 'stk351',
 'stk352',
 'stk353',
 'stk354',
 'stk355',
 'stk356',
 'stk357',
 'stk358',
 'stk359',
 'stk360',
 'stk361',
 'stk362',
 'stk363',
 'stk364',
 'stk365',
 'stk366',
 'stk367',
 'stk368',
 'stk369',
 'stk370',
 'stk371',
 'stk372',
 'stk373',
 'stk374',
 'stk375',
 'stk376',
 'stk377',
 'stk378',
 'stk379',
 'stk380',
 'stk381',
 'stk382',
 'stk383',
 'stk384',
 'stk385',
 'stk386',
 'stk387',
 'stk388',
 'stk389',
 'stk390',
 'stk391',
 'stk392',
 'stk393',
 'stk394',
 'stk395',
 'stk396',
 'stk397',
 'stk398',
 'stk399',
 'stk400',
 'stk401',
 'stk402',
 'stk403',
 'stk404',
 'stk405',
 'stk406',
 'stk407',
 'stk408',
 'stk409',
 'stk410',
 'stk411',
 'stk412',
 'stk413',
 'stk414',
 'stk415',
 'stk416',
 'stk417',
 'stk418',
 'stk419',
 'stk420',
 'stk421',
 'stk422',
 'stk423',
 'stk424',
 'stk425',
 'stk426',
 'stk427',
 'stk428',
 'stk429',
 'stk430',
 'stk431',
 'stk432',
 'stk433',
 'stk434',
 'stk435',
 'stk436',
 'stk437',
 'stk438',
 'stk439',
 'stk440',
 'stk441',
 'stk442',
 'stk443',
 'stk444',
 'stk445',
 'stk446',
 'stk447',
 'stk448',
 'stk449',
 'stk450',
 'stk451',
 'stk452',
 'stk453',
 'stk454',
 'stk455',
 'stk456',
 'stk457',
 'stk458',
 'stk459',
 'stk460',
 'stk461',
 'stk462',
 'stk463',
 'stk464',
 'stk465',
 'stk466',
 'stk467',
 'stk468',
 'stk469',
 'stk470',
 'stk471',
 'stk472',
 'stk473',
 'stk474',
 'stk475',
 'stk476',
 'stk477',
 'stk478',
 'stk479',
 'stk480',
 'stk481',
 'stk482',
 'stk483',
 'stk484',
 'stk485',
 'stk486',
 'stk487',
 'stk488',
 'stk489',
 'stk490',
 'stk491',
 'stk492',
 'stk493',
 'stk494',
 'stk495',
 'stk496',
 'stk497',
 'stk498',
 'stk499',
 'stk500']

## Notes
- date column should be converted to datetime
- volume should be converted to float
- values go from stk001 to stk500